{% extends "users/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

    <style>
        input[type="file"]::file-selector-button {
            background-color: lightgray;
            color: gray;
        }
        input[type="file"]::file-selector-button:hover {
            background-color: gray;
            color: black;
        }
    </style>

    <div class="flex flex-nowrap items-center gap-3 my-8">
        <img class="w-20 h-20 rounded-full mr-4" src="{{ user.profile.avatar.url }} "/>
        <p class="h-fit text-lg font-bold">{{ user.first_name }} {{ user.last_name }}</p>
    </div>
    {% if user_form.errors %}
        <div id="alert-3" class="flex p-4 mb-4 text-error-200 bg-error-100 rounded-lg" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Error</span>
            <div id="ml-3 text-sm font-medium">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-error-100 text-error-200 rounded-lg hover:bg-error-100 inline-flex h-8 w-8" data-dismiss-target="#alert-3" aria-label="Close">
              <span class="sr-only">Close</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
    {% endif %}
    <hr>
    <div class="form-content mt-8">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="col-lg-6 col-md-8 col-sm-12" >
                    <div class="grid md:grid-cols-3 md:gap-6">
                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Username:</label>
                                {{ user_form.username }}
                        </div>

                        <div class="relative z-0 w-full mb-6 group">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
                                {{ user_form.email }}
                        </div>

                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">Change Avatar:</label>
                            {{ profile_form.avatar }}
                            <p class="mt-1 text-sm text-gray-500" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                        </div>
                    </div>
                </div>

                <div class="w-fit mx-auto mt-12">
                    <button type="submit" class="w-44 h-10 bg-primary-normal hover:bg-primary-dark mr-3 rounded-xl font-bold text-white">Save</button>
                    <button type="reset" class="w-32 h-10 border-gray-300 hover:bg-gray-100 border ml-3 rounded-xl">Discard</button>
                </div>

        </form>
    </div>
{% endblock content %}